{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <link rel="icon" href="../../favicon.ico">
	    <!-- ~ ~ ~ ~ ~ PAGE TITLE ~ ~ ~ ~ ~ -->
	    <title>Murp Lists</title>
	    <!-- ~ ~ ~ ~ ~ Bootstrap CSS CDN ~ ~ ~ ~ ~ -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<!-- ~ ~ ~ ~ ~ Optional theme ~ ~ ~ ~ ~ -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	    <!-- ~ ~ ~ ~ ~ Custom styles for this template ~ ~ ~ ~ ~ -->
	    <link href="{% static "jumbotron.css" %}" rel="stylesheet">
	    <link href="jumbotron-narrow.css" rel="stylesheet">
	    <!-- ~ ~ ~ ~ ~ My Style ~ ~ ~ ~ ~ -->
	    <link href="{% static "css/style.css" %}" rel="stylesheet">
	    <!-- ~ ~ ~ ~ ~ Icons - Ionicons ~ ~ ~ ~ ~ -->
	    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
	    <!-- ~ ~ ~ ~ ~ Just for debugging purposes ~ ~ ~ ~ ~ -->
	    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
	    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->
	</head>

  	<body>
  		<nav class="navbar navbar-fixed-top" role="navigation">
      		<div class="container">
      			<!-- ********************************
                Collapsed Menu when small window size
                ********************************* -->
        		<div class="navbar-header">
          			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			            <span class="sr-only">Toggle navigation</span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
		          	</button>	          	
        		</div>
        		<!-- **************************
                Main Header Links - Norm Window
                *************************** -->
		        <div id="navbar" class="navbar-collapse collapse">
		          	<ul class="nav navbar-nav">
                        <!-- ~ ~ ~ ~ ~ Logo Img ~ ~ ~ ~ ~ -->
		          		<li><a class="navbar-brand" href="/"><img class="logo-img" src="{% static "img/murph-list.png" %}"></a></li>
                        <!-- ~ ~ ~ ~ ~ Main Links ~ ~ ~ ~ ~ -->
		            	<li><a href="{% url 'app-views-profile' %}" class="header-links">My Profile</a></li>
		            	<li><a href="{% url 'app-views-contacts' %}" class="header-links">My Contacts</a></li>
		            	<li><a href="{% url 'app-views-groups' %}" class="header-links">My Groups</a></li>
		            	<li><a href="#contact" class="header-links">Log Out</a></li>
		          	</ul>
		        </div><!--/.nav-collapse -->
		    </div>
		</nav>

		<div class="container mt-150">
            {% block content %}
            <!-- ~ ~ ~ ~ ~ Main Content Block ~ ~ ~ ~ ~ -->
            {% endblock %}
            
            <!--***********
            FOOTER Contents
            ************-->
	   		<footer class="centered mt-100">
	        	<p>Keep your friends close, keep your relatives closer!</p>
	    	</footer>
	    </div> <!-- /container -->
        <!--*****************************
        JS files at bottom to load faster
        ******************************-->
	    <!-- ~ ~ ~ ~ ~ Bootstrap core JavaScript ~ ~ ~ ~ ~ -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	    <script src="../../dist/js/bootstrap.min.js"></script>
	    <!-- ~ ~ ~ ~ ~ IE10 viewport hack for Surface/desktop Windows 8 bug ~ ~ ~ ~ ~ -->
	    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  	</body>
</html>
